<br><br>


<ng-container>
  <div class="card-table" *ngIf="true">
   <div class="card-product">
       <table class="table table-response">
           <thead>
               <tr>
                   <th>Product Name</th>
                   <th>Product Price</th>
                   <th>Product Quantity</th>
                   <th>Product Category</th>
                   <th>Action</th>

               </tr>
           </thead>
           <tbody>
               <tr>
                   <td>item</td>
                   <td>300</td>
                   <td>10</td>
                   <td>bags</td>
                   <td>
                       <button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                   </td>
               </tr>
           </tbody>
       </table>
   </div>
  </div>
</ng-container>


 <ng-container ><div class="container" *ngIf="false">
<div class="card">
    <h4 class="card-title">My Cart</h4>
</div>
<div class="center">
    <img src="" alt="">
    <h4>Your cart is Empty :(</h4>
    <h6>Add items to it Now</h6>
    <button class="btn btn-primary">Shop Now</button>
</div>
</div>
</ng-container>