
<div >
  <app-products [receivedSelCatID]="selectedCatID" (onAddToCart)="showCart($event)"></app-products>
</div>
<table class="table">
  <ng-container *ngFor="let item of ReceivedCartItems ;let i = index"  >
    <tr >
    <td>{{ i+1 }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.price }}</td>
    <td><button type="button" class="btn btn-info bg-lightblue" (click)="decrease(item)">-</button> {{ item.count }} <button type="button" class="btn btn-info" (click)="increase(item)">+</button></td>
    <td>{{ item.total }}</td>
    <td><button (click)="RemoveItem(item)">Remove Item</button></td>
    </tr>
  </ng-container>
</table>

<!--<button type="button"  style="width: 50%;margin-left: 20%;" (click)="confirm()" class="btn btn-info">Place Order</button>-->